.paginationBar {
    display: flex;
    justify-content: center;
    position: relative;    
  }
  
  .pagNumber {
  width: 30px;
  height: 30px;
  border: 1px solid;
  margin: 2px;
  background:  #fafafb; 
  color:rgba(66, 66, 67, 0.6) ;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  font-weight: bold; 
  justify-items: center; 
  font-family: "Comic Sans MS", Gadget, sans-serif;
  font-size: medium; 
  text-decoration: none;
  }
  
  .pagNumber:hover{
    background:rgba(99, 98, 100, 0.6) ;
    color: #fdfcff;
  }
  
  .pagNumber:focus{
    background: rgb(8, 7, 27);
    color: #fbf9fd;
  }
  
  
  
  
  